html{
    background : linear-gradient(black,whitesmoke);
    font-family: "Helvetica Neue", sans-serif;
    color: whitesmoke;
}

.titre {
    text-align: center;
    text-shadow: 1px 1px black;
}

h1{
    padding: 5%;
    font-size: 200%;
}

h2{
    margin: 10% 0 5% 0;
    font-size: 150%;
}

nav{
    position: fixed;
    width: 100%;
}

nav .blurrer{
    margin-left: -0.5%;
    margin-top: -0.75%;
    height: 93%;
    width: 100%;
    -webkit-backdrop-filter: blur(4px);
    position: absolute;
    filter: blur(100%);
    z-index: -500;
    background-color: rgba(0,0,0,0.5);
}


nav ul {
    display: table;
    width: 100%;
    margin-left: -8px;
    margin-top: -0.5%;

    padding: 0;

    box-shadow: 0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);

}

nav ul li{
    display: table-cell;
}

nav ul li a{
    font-size: 150%;
    display: block;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 8px 8px 17px 8px;
    text-shadow: 0 1px 0 rgb(0, 0, 0);
    transition: all .2s .1s;
}


nav ul li a:hover,
nav ul li a:focus{
    background: rgba(255,255,255,.2);

    padding: 8px 25px 17px 25px;

    transition: all .2s .1s;
}

nav ul li a:active{
    background: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.1));
    box-shadow: 0 0 2px rgba(0,0,0,.3) inset;
}

button {
    display: block;
    margin: auto;
    padding: 1% 3% ;
    font-size: 30px;
    border-radius: 30px;
    background-color: cadetblue;
    border-style: none;
}

button a {
    text-decoration: none;
    color: black;
}


.moi .photo{
    margin-top: -5%;
    height: 20%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.moi {
    font-size: xx-large;
}

.blank{
    padding: 1%;
}

.footer{
    font-size: 15px;
    position: sticky;
}


.footer .grille{
    width: 100%;
    padding: auto;
    background-color: rgba(0,0,0,0.5);
    display: grid;
    justify-items: center;

}

.numero{
    grid-column: 1;
}

.mail {
    grid-column: 4;
}

.footer .grille .mail a {
    color: whitesmoke;
}

@media screen and (max-width: 1200px)  {

    .titre {
        font-size: 100%;
    }

    nav ul li a{
        font-size: small;
    }

    nav .blurrer{
        height: 150%;
    }

    button {
        line-height: 50%;
    }


}