*{
    scroll-behavior: smooth;
}

html{
    background : linear-gradient(black,whitesmoke);
    font-family: "Helvetica Neue", sans-serif;
    color: whitesmoke;
}

body {
    margin: 0;
    padding: 0;
}

.titre {
    text-align: center;
    text-shadow: 1px 1px black;
}

h1{
    padding: 5%;
    font-size: 200%;
}

h2{
    margin: 10% 0 5% 0;
    font-size: 150%;
}



p {
    font-size: 60%;
    text-align: center;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

li {
    list-style: none;
}

.blank{
    padding: 1%;
}

/*BARRE DE NAVIGATION*/

nav{
    position: fixed;
    width: 100%;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
}

img {
    width: 10%;
}


nav ul {
    display: table;
    width: 100%;
    backdrop-filter: blur(4px);
    background-color: rgba(0,0,0,0.5);
    margin: 0;
    padding: 0;

}

nav ul li{
    display: table-cell;
}

nav ul li a{
    display: block;
    font-size: 150%;
    text-align: center;
    color: whitesmoke;
    text-shadow: 0 1px 0 rgb(0, 0, 0);
    height: 50px;
    line-height: 50px;
}

nav ul li a:hover,
nav ul li a:focus{
    background: rgba(255,255,255,.2);

    padding: 1% 0;
    border-radius: 3px;

    transition: all .3s .1s;
}

/*PRESENTATION*/
.moi {
    font-size: xx-large;
}

.moi .photo{
    margin-top: -5%;
    height: 20%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

/*COMPETENCES*/

#grille_competence{
    width: 95%;
    padding: auto;
    margin: auto;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}



#grille_competence p {
    font-size: 100%;
}

#web,#bd{
    grid-column: 1;
}

#se,#tool{
    grid-column: 2;
}

#langage,#other{
    grid-column: 3;
}




/*BOUTON*/


button {
    display: block;
    margin: auto;
    padding: 1% 3% ;
    font-size: 30px;
    border-radius: 30px;
    background-color: cadetblue;
    border-style: none;
}


/*FOOTER*/

.footer{
    font-size: 15px;
    bottom: 0;
    background-color: rgba(0,0,0,0.3);
}

.footer .grille_footer{
    width: 100%;
    padding: auto;
    display: grid;
    justify-items: center;
}

#droite{
    grid-column: 3;
    position: relative;
}

#gauche {
    grid-column: 1;
    position: relative;
}






/*RESPONSIVE*/

@media screen and (max-width: 500px)  {

    .titre {
        font-size: 100%;
    }

    nav ul li a{
        font-size: small;
    }

    nav .blurrer{
        height: 75%;
    }

    button {
        line-height: 50%;
    }

    #accueil {
        padding-top: 10%;
    }

}